@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --body-font: "Inter", sans-serif;
  --stats-font: "Lexend Deca", sans-serif;
  --white: hsl(0, 0%, 100%);
  --light-white: hsla(0, 0%, 100%, 0.6);
  --soft-violet: hsl(277, 64%, 61%);
  --dark-blue: hsl(244, 38%, 16%);
  --very-dark-blue: hsl(233, 47%, 7%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  font-size: 0.93rem;
  font-family: var(--body-font);
  min-height: 100vh;
  background-color: var(--very-dark-blue);
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.stats-card {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--dark-blue);
  border-radius: 10px;
  width: 90%;
  max-width: fit-content;
  min-height: 27.8rem;
  margin: 2rem 0;
}

/** Image Container **/
.stats-card-image {
  display: inherit;
  position: relative;
  width: 75.5rem;
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--soft-violet);
}
img {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
  opacity: 0.75;
  object-fit: cover;
}

.card-content {
  position: relative;
  padding: 2rem 1.8rem;
  color: var(--white);
}
.card-title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 2.8rem;
  text-align: center;
}
.highlight {
  color: var(--soft-violet);
}

.card-caption {
  font-size: 0.9rem;
  text-align: center;
  color: var(--light-white);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  line-height: 1.5rem;
}
.stats-card-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}
.stats-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-text :nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
}
.stats-text :nth-child(2) {
  font-size: 0.8rem;
  font-family: var(--stats-font);
  color: var(--light-white);
  letter-spacing: 1px;
  font-weight: 400;
}

@media screen and (min-width: 900px) {
  .stats-card {
    width: 68rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .stats-card-image {
    border-radius: 0 10px 10px 0;
  }
  .card-content {
    text-align: center;
    padding: 4rem;
  }
  .card-title {
    font-size: 2rem;
    text-align: left;
  }
  .card-caption {
    text-align: left;
  }
  .stats-card-cta {
    flex-direction: row;
    gap: 4rem;
    justify-content: flex-start;
    margin-top: 2rem;
  }
  .stats-text {
    align-items: start;
  }
}

@media screen and (max-width: 700px) {
  img {
    content: url("./images//image-header-mobile.jpg");
  }
}
